---
layout: default
---

<div class="posts">
  {% for post in paginator.posts %}
    <article class="post">

      <h2 style="text-shadow: 1px 1px lightgrey; color: black;"><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></h2>

      <div 
        title="{{ post.title }}"
        class="entry" 
        style="
          overflow: hidden; 
          color: gray; 
          font-style: italic; 
          margin-bottom: 20px; 
          background: lightgray; 
          padding: 10px; 
          border-radius: 5px;
          box-shadow: 1px 1px 2px grey;
          font-size: 14px;
        "
      >
        {{post.content | strip_html | strip_newlines | truncate: 100 }}
      </div>

      <a href="{{ site.baseurl }}{{ post.url }}" class="read-more" title="{{ post.title }}">
        <span style="float: left;">
          Read More
        </span>
        <div class="date" style="float: right;">
          {{ post.date | date: "%B %e, %Y" }}
        </div>
      </a>
    </article>
  {% endfor %}
  {% include pagination.html %}
</div>