---
layout: default
---

<div class="posts">
  {% for post in paginator.posts %}
    <article class="post">

      <a class="postTitle" href="{{ site.baseurl }}{{ post.url }}">
        {{ post.title }}
      </a>

      <div 
        title="{{ post.title }}"
        class="postAbstract"
      >
        {{post.content | strip_html | strip_newlines | truncate: 200 }}
      </div>

      <a href="{{ site.baseurl }}{{ post.url }}" class="read-more" title="{{ post.title }}">
        <span style="float: left;">
          Read More
        </span>
        <div class="date" style="float: right;">
          {{ post.date | date: "%B %e, %Y" }}
        </div>
      </a>
    </article>
  {% endfor %}
  {% include pagination.html %}
</div>