<!-- 分页链接 -->
<div class="entry-meta" style="text-align: center; margin-top: 20px;">
    {% if paginator.previous_page %}
        <span class="post-category"><a href="{{ paginator.previous_page_path }}">&lt;&lt;</a></span>
    {% else %}
        <!-- <span class="previous">Previous</span> -->
    {% endif %}
        <span class="post-category">Page: {{ paginator.page }} of {{ paginator.total_pages }}</span>
    {% if paginator.next_page %}
        <span class="comments-link"><a href="{{ paginator.next_page_path }}">&gt;&gt;</a></span>
    {% else %}
        <!-- <span class="comments-link ">Next</span> -->
    {% endif %}
</div>